*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  background-color: #FAFAFA;
  height: 1338px;
  position: relative;
}

.title{
  width: 278px;
  height: 47px;
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.045em;
  margin: 70px 0 0 12px;
  padding: 0;
}

.subtitle{
  width: 117px;
  height: 27px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  margin: 38px 0 0 12px;
  padding: 0;
}

.information{
  width: 333px;
  height: 87px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin: 10px 0 0 12px;
  padding: 0;
}

.main{
  position: relative;
  display: grid;
  grid-template-columns: 157px 157px;
  grid-template-rows: 237px 248px 261px;
  margin-top: 39px;
}

.box{
  position: relative;
  margin-left: 19px;
}

.box:nth-child(1){
  width: 156px;
  height: 237px;
  top: 0;
}

.box:nth-child(2){
  width: 157px;
  height: 237px;
  top: 48px;
  left: 25px;
}

.box:nth-child(3){
  width: 154px;
  height: 247px;
  top: 64px;
}

.box:nth-child(4){
  width: 154px;
  height: 248px;
  top: 112px;
  left: 24px;
}

.box:nth-child(5){
  width: 154px;
  height: 261px;
  top: 128px;
}

.box:nth-child(6){
  width: 155px;
  height: 255px;
  top: 176px;
  left: 24px;
}


.box__img{
  position: absolute;
  top: 0;
  left: 0;
}

.box:nth-child(1) > .box__img{
  width: 139px;
  height: 209px;
}

.box:nth-child(2) > .box__img{
  width: 138px;
  height: 209px;
}

.box:nth-child(3) > .box__img{
  width: 139px;
  height: 219px;
}

.box:nth-child(4) > .box__img{
  width: 139px;
  height: 220px;
}

.box:nth-child(5) > .box__img{
  width: 139px;
  height: 226px;
}

.box:nth-child(6) > .box__img{
  width: 139px;
  height: 220px;
}

.box__title{
  width: 150px;
  height: 10px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 70px;
  right: -70px;
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  text-transform: uppercase;
  transform: rotate(90deg); 
}

.box__subtitle{
  width: 141px;
  height: 18px;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

.footer{
  position: absolute;
  bottom: 24px;
  left: 46px;
}
.created{
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A9A9A9;
}